<h1><%= @destination.name + " | " + @destination.country%></h1>
<hr>
<strong>Most Recent Posts</strong><br>
<ol>
    <% @destination.posts.last(5).each do |post| %>
        <li><%= link_to post.title, post_path(post)%></li>
    <%end%>
</ol>
<hr>

<strong>Featured Post</strong>
<%= link_to @destination.featured_post.title, post_path(@destination.featured_post)%>
<hr>

<strong> <%= "Average age of Bloggers: " + @destination.average_age.to_s%> </strong>






